extends layout
block content
    div Shared Users:
        each user in shareUserDetails
            div #{user.username}
    h1 Welcome
    form(method = 'post', action = '/users/shared')
        .form-group
            select.form-control.round-corner(name='shareWith', id='shareWith')
                option(value='0') -- Select a user from the list --
                each item in users
                    option(value='#{item.username}') #{item.username}

        input.btn.btn-primary(type='submit',name='submit',value='Add')
        input.btn.btn-primary(type='submit',name='submit',value='Submit and Proceed')



        